<html>
<head>
<title>ログインページ</title>
</head>
<body style="text-align:center;">
<h1>ログイン</h1>
<form action="search.html">
<div align="center">
<table>
<tr><td>名前</td><td><input type="text" name="name"></td></tr>
<tr><td>パスワード</td><td><input type="text" name="password"></td></tr>
</table>
</div>
<input type="submit" value="LOGIN">
</form>
</body>
</html>
