<html>
<head>
<title>購入完了</title>
</head>
<body>
<h1><p align="center">お買い上げありがとうございました！</p></h1><br>
<div align = "center">
<table><tr>
<td>
<form action = "kensaku.html">
<input type="submit"  value="買い物を続ける">
</form>
</td>
<td>
<form action = "login.html">
<input type="submit" value="ログアウト">
</form>
</td>
</tr></table>
</div>
</body>
</html>
