<html>
<head>
<title>検索ページ</title>
</head>
<body>
<h1><p align="center">検索</p></h1><br>
<p align="center"><INPUT type size="40"="text" neme="kensaku"></p><br>
<p align="center">カテゴリ<select name="category">
<option value="サンプル1">サンプル1</option>
<option value="サンプル2">サンプル2</option>
<option value="サンプル3">サンプル3</option>
</select>
</p>
<p align="center"><input type="button" value="検索" onClick="location.href=''">
</p>

<%# 
  Productsテーブルから各要素を取り出して表示
  pro_name: 商品名
  pro_price: 商品単価
%>
<table border="1" width="500" cellspacing="0"align="center" cellpadding="5" bordercolor="black">
<tr>
<th>商品名</th>
<th>価格</th>
<th>詳細</th>
</tr>
<% @products.each do |product| %>
<tr>
<td><%= product.pro_name %></td><td> <%= product.pro_price %></td><td align="center"><form action="shoukai1.html"><input type="submit" value="詳細"></form></td>
</tr>
<% end %>
</table>

</body>
</html>
